$color-primary: #58e1c1; //aqua
$color-text: #777; //gray
$color-img-frame: #ccc; //light gray

$white: #fff;

$themes: (
    1 : #927bc1, //light purple btn-info
    2 : #fd7856, //orange btn-warning
    3 : #deb2ee, //pink
    4 : #7ee6fd, //teal
    5 : #88d9a0, //light green
    6 : #4da2bb, //light blue
    7 : #ec9fa3, //light red
    8 : #fd9f85, //light orange
    9 : #e4757a, //lighter red btn-error
   10 : #63cc82, //green btn-success
   11 : #51ddfc, //blue btn-default
   12 : #80e8d1, //aqua
);

$font-stack-primary: 'Lato', sans-serif;

$break: 768px;













