.form {
    flex-basis: 100%;
    .input{
      @include border ($brdr: none, $brdr-b: 5px solid $color-secondary);
      display: block;
      width: 94%;
      margin: 10px auto 0;
      padding: 10px;
    }
    .hidden {
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;
    }
  }
  
  
  
  