%img {
  @include center;
  margin-top: 10px;
  max-width: 100%;
}

.img {
  &-logo {
    @include center;
  }
  &-avatar {
    @extend %img;
    max-height: 100%;
  }
  &-frame {
    @extend %img;
    padding: 13px;
    border: 1px solid $color-img-frame;
  }
}


@include media {
  .logo { //i dont think this goes to anything... unless it was suppose to be img.logo
    margin-left: initial;
    margin-right: initial;
  }
}




  
  