* {
    box-sizing: border-box;
    font-family: $font-stack-primary;
    color: $color-text;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.headline {
    &-primary {
        color: $color-secondary;
        margin-left: 10px;
    }
    &-secondary {
        font-weight: 300;    
    }
}

.link {
    color: $color-primary;
    font-weight: 700;
}

.blockquote {
    @extend .headline-secondary;
    @include border($brdr-l: 8px solid $color-secondary, $rad: 5px);
    font-size: 1.5em;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
}
















